body {
  /*
   Mitte das runde Ding ein.
   Tipp:
   - Normalerweise ist body nur so hoch wie sein Inhalt. Hier muss body aber so hoch sein, wie der Viewport. (warum?)
  */

  /* Lösung */
  display: flex;
  height: 100vh;
}

.round-thing {
  background: red;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;

  /* Lösung */
  margin: auto;
}