/* Ordne die beiden Textboxen in zwei Spalten an */


.wrapper {
    /* To Do */
}

.box1 {
    background: #eee;
    padding: 1em;
}

.box2 {
    background: #ddd;
    padding: 1em;
}


/* Solution */
/* .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
  } */